* {
  padding: 0;
  margin: 0;
  color: #fff;
  background-color: #000;
  /* outline: 1px solid red; */
}

.App {
  margin: auto 3%;
}

/* Header */
header {
  margin-top: 10px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
}

ul {
  display: flex;
}

ul li {
  margin-right: 30px;
  list-style: none;
}

ul li:last-child {
  margin-right: 0;
}

#search {
  height: 30px;
  margin-right: 5px;
  border: none;
  border-bottom: solid 2px white;
}

.search {
  position: relative;
}

#search-icon {
  position: absolute;
  top: 5px;
  right: 20px;
}

#promo-img {
  height: 120px;
  width: 120px;
}

/* Promo */

.promo-area h1 {
  margin-top: 100px;
  margin-left: 80px;
  margin-bottom: 20px;
  display: inline-block;
}

.promo-area-text h2 {
  font-weight: 300;
  margin-left: 80px;
  margin-bottom: 200px;
}

#ps4 {
  width: 700px;
  height: 400px;
  float: right;
}

/* New Products */

#FirstProduct,
#SecondProduct,
#ThirdProduct {
  height: 600px;
  width: 600px;
}

.new-products {
  position: relative;
}

.new-products h1 {
  position: absolute;
  top: 230px;
  left: 750px;
  font-size: 3rem;
}

.product-1 hr {
  position: absolute;
  top: 310px;
  left: 753px;
  width: 240px;
}

.product-1 h2,
.product-3 h2 {
  margin-left: 200px;
  padding: 5px;
}

.product-1 p,
.product-3 p {
  margin-left: 200px;
  padding: 5px;
}

.product-1 p,
.product-3 p {
  margin-bottom: 30px;
}

.product-1 a,
.product-2 a,
.product-3 a {
  border: 1px solid #fff;
  margin-left: 205px;
  margin-top: 100px;
  padding: 15px 35px 15px 35px;
}

.product-2 {
  position: absolute;
  top: 450px;
  left: 650px;
}

.product-2 h2 {
  margin-left: 140px;
  padding: 5px;
}

.product-2 p {
  margin-left: 140px;
  margin-bottom: 30px;
}

.product-2 a {
  margin-left: 146px;
}

.product-3 {
  position: absolute;
  top: 900px;
}

#Laptop {
  width: 500px;
  height: 500px;
  margin-top: 450px;
  margin-left: 780px;
}

/* Latest products */

.products {
  margin-top: 150px;
}

.products h1 {
  margin-bottom: 20px;
}

.Product-list {
  display: flex;
  margin-top: 50px;
  /* overflow-y: scroll; */
}

.product-item {
  display: inline-block;
}

#product-item-img {
  width: 250px;
  height: 250px;
  border: 1px solid #fff;
  margin-right: 9px;
}

/* Partners */

#partners {
  text-align: center;
}

.partners {
  text-align: center;
  margin-top: 150px;
}

.partners h1 {
  font-size: 3rem;
}
